<!DOCTYPE html>
<html lang="en" xmlsn:th=" https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Array Duplicate Remover</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<body>

<div class="wrapper">

  <h1 id ="logo">
    <a th:href="@{/}" target="_self"> TechiePlanet</a>
  </h1>
  <div class="assess">
    <h2>
      Array Duplicate Remover
    </h2>

    <form action="/uniqueArray" method="post">
      <div class="timeText">
        <label th:text="${uniqueOutput}">Time Shows Here</label>
      </div>
      <div class="components">
        <div>  <input type="text" class="inputArrayTextBox"  name="inputString" > </div>
         Input Array
        <div>
          <input value="Display Time" type="submit" class="convertButton"/>
        </div>
      </div>
    </form>
  </div>
</div>
<Footer>
  <h2> Thank you </h2>
  <p>some text might be down here to make it look good</p>
</Footer>
<script src="js/script.js"></script>
</body>
</body>
</html>